body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  color: #222;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #555;
}

